@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap');

@layer utilities {
  .glowOnHoverName {
    transition: text-shadow 0.3s ease;
  }
  .glowOnHoverName:hover {
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
  }

  .glowOnHoverNav {
    transition: text-shadow 0.3s ease;
  }
  .glowOnHoverNav:hover {
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }
}

:root {
  --background: #000;
  --foreground: #ededed;
  --nav-height: 80px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Fira Code', monospace;
  margin: 0;
  scroll-behavior: smooth;
}

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* A utility class for using our theme background */
.bg-theme {
  background-color: var(--background);
}
